root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true

#disabling copyright header requirements
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none